
body{
    /* Intializes of all margin and padding to zero on the page*/
    margin:0;
    padding:0;
    background-color: #e4e1e1;
   /* background-color:  lightseagreen;*/
}
h1{
    margin: 0;
    padding: 0;
    padding-top: 5px;
}
a{
    text-decoration: none;
    color: rgb(26,169,217);
}
/*STYLES MEANT FOR THE HEADER SECTION + THE MAIN NAVIAGATION OF THE PAGE */
header{
    line-height: 1.6em;
    margin: 0;
    width:100%;
    height: 180px;
    background-color: #66c5e8;
    background-image: url(../IMG/Code_scree.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
}
header div{
   text-align: center;
   margin-left: 10px;
}
header  h1{
    font-family: 'Roboto Mono', monospace, serif;
    font-size: 1.5em;
    word-spacing: .35em;
    color:  rgb(26,169,217);
    margin-bottom: 5px;
    margin-top: 20px 
}
header div > span{
    font-family: 'Roboto Mono', monospace, serif;
    letter-spacing: .2em;
    color:  rgb(26,169,217);
    font-size: 1em;
}
 header nav{
    margin: 0 auto;
}
#main-nav{
display: block;
margin: 0;
}
#main-nav ul{
    padding:15px; 
}
#main-nav ul li, #main-nav a{
    list-style-type:none;
    display: inline-block;
    padding:10px;
}
#main-nav a{
    font-size: 110%;
    font-family: 'Roboto Mono', monospace, serif;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    border:1px solid white;
    margin:10px;
    border-radius:10px ;
    color:#34ebb7;
    color: rgb(26,169,217);
    background-color: #e4e1e1;
}
#main-nav a:focus, #main-nav a:hover  {
    background-color:rgba(199, 235, 199, 1);
}
#main-nav .active{
    background-color:rgba(124, 148, 124, 1);
}
#main-nav a.icon{
    display: none;
}
/* STYLES FOR THE ASIDE NAVIAGATION FOR EASY ACCESS TO THE LEARNHTML PAGE*/
#special-aside{
   background-color:rgba(180, 204, 180, .5);
}
#HTML-nav{
    display: block;
    position: fixed;
}
#HTML-nav ul{
    height: 100vh;
    overflow: hidden;
   top: 25%;
   left: 0;
}
#HTML-nav li{
    margin: -12px;
    list-style-type: none;
    padding:10px;
    border-bottom:2px solid black;
}
#HTML-nav li:hover{
    background-color: rgb(170,204,255);
}
#HTML-nav li a{
    display: block;
     text-decoration:none;
     line-height:1.5em;
     font-size: medium;
     text-transform: uppercase;
}
#HTML-nav li a:link{
    color:rgb(26,169,217);
}
#HTML-nav li a:visited{
    color: rgba(23, 92, 138,.9);
}
#HTML-nav li a:focus, #HTML-nav li a:hover, #HTML-nav li a:active{
   color: rgba(26,169,217,rgba(26,169,217,.7));
   font-size: larger;
}
i.fa-caret-down {
    float: right;
    padding-right: 8px;
  }
#dropdown{
    display: none;
}
iframe{
    width: 92vw;
    height: 100vh;
    margin: 2% 1% 0 2%;
}
/* STYLES FOR MAJOR CONTENT OF THE PAGES*/
.main-content{
    margin: 0 20px;
    line-height: 1.6em;
    font-size: 120%;
    font-weight: 500;
    text-align: justify;
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Dosis', sans-serif;
}
.main-content h1,.main-content h2{
    text-transform: uppercase;
    font-family:  'Roboto Mono', monospace, serif;
    color: rgb(26,169,217);
}
.main-content h1{
    font-size: 2.5em;
    letter-spacing: .2em;
}
h1#css-h1{
    font-size: 150%;
}
code{
    text-align: center;
    display: block;
    color: rgb(26,169,217);
}
.no-center{
    text-align: start;
}
.txt-indent{
    text-align: start;
    text-indent: 1em;
}
.txt-indent2{
    text-align: center;
    text-indent: 2.5em;
}
.main-content span {
    font-size: 130%;
    font-style: italic;
    color:  rgba(26,169,217,.8);
}
.main-content .medium-span{
   font-weight: bold;
    font-size: 110%;
    font-style: normal;
}
.main-content .smaller-span{
    font-size: 100%;
    font-style: normal;
}
.main-content h3{
    margin-left: 10px;
    font-family: 'Roboto Mono', monospace, serif;
    text-transform: capitalize;
     color: rgb(26,169,217);
}
p.codepen{
    margin: 0;
    font-size: 90%;
    line-height: 1.6em;
    text-align: justify;
}
.descrption-special{
    background-color: limegreen;
    display: grid;
}
#intro-HTML h1{
    margin: 8px 0 8px 0;
}
.grid-cont{
    display: grid;
   grid-template-columns: 20% 70% 10%;
}
.special-grid{
    display: grid;
    grid-template-columns: 90% 10%;
}
.hosting{
    margin: 10px;
}
.hosting h1{
    font-size: 135%;
}
.hosting-img{
    margin-right: -17.5px;
}
.hosting-img p{
    text-align: center;
}
#logo-section{
    line-height: 1em;
    font-size: large;
    font-weight: bold;
    letter-spacing: .2em;
    font-style: italic;
    font-variant-ligatures: contextual;
    background-color: rgba(180, 204, 180, .5);
}
#logo-section p{
    font-style: italic;
    font-family: monospace;
    font-weight: bolder;
    text-transform: uppercase;
}
#logo-section a:focus img,#logo-section a:hover img, a:active img {
background-color:rgb(170,204,255);
text-decoration: none;
}
.contact-image{
    width: 50px;
    height: 50px;
    display: block;
    padding:20px;
    margin: 20px;
    margin-left: 30px;
}
.special-description{
    display: grid;
    grid-template-columns: .1fr .1fr;
    margin: 0;
}
pre{
    color:  rgba(26,169,217,.8);
}
.special-description pre{
    margin: 0;
    margin-right: 5px;
    font-size: 95%;
    padding: 0;
}
.special-description figcaption{
    font-size: medium;
}
.special-description img{
    width: 300px;
    height: auto;
}
.para-descr{
    display: block;
    font-size: medium;
    text-align: center;
    font-style: italic;
    font-size: 80%;
}
.blockquote-blue{
    background-color:#fafafa;
    color: rgb(26,169,217);
    font-size: 120%;
    font-style: italic;
    padding: 10px;
   box-shadow: 6px 6px 10px gray;
}
.illustrationTable td .illustrationTable th{
    border: none;
    border-bottom:0;
}
th,td,table{
    border-collapse: collapse;
    font-size: 90%;
}
th{
    border-bottom:1px solid black ; 
}
td,th{
    border-right: 2px solid black;
}
td{
    border-bottom:1px solid black ;
}
td:last-child{
    border-bottom:1px solid black ;
    border-right: 0;
}
th:last-child{
    border-right: 0;
}
.table-flex{
    display: flex;
    flex-wrap: wrap;
    flex-flow: wrap;
}
img[src="IMG/HTML-Anatomy.png"]{
   border: 10px solid tomato;
   border-radius: 12px;
   max-width: 85%;
   max-height: auto;
}
img[src="IMG/boxModelpng.png"], img[src="IMG/Dom.png"]{
    max-width:85%;
    max-height: auto;
    display: block;
    margin: 0 auto;
}


/* STYLES FOR THE FOOTER AND FORM-RELATED  
These styles are used to style the look for both the footer and form */
footer{
    background-color: #66c5e8;
    background-color:rgba(180, 204, 180,.5);
    font-family: 'Roboto Mono', monospace, serif;
    margin-top: -15px;
}
footer .footer-text-center{
    text-align: center;
    padding: 10px;
    font-size: 100%;
    letter-spacing: 0;
}
footer p{
    font-size: 120%;
    line-height: 1em;
    letter-spacing: .2em;
}
.footer-link{
    color: #48a9cf;
    text-decoration: none;
    font-size: 80%;
}
form{
    box-sizing: border-box;
    padding: .5em;
    margin: 1em;
}
.form-grid{
    display: grid;
    grid-template-columns:50% 50%;
}
#specialFormgrid{
display: grid;
grid-template-columns: 20% 40% 40%;
}
.form-contact-image img{
    width: 30px;
    height: 30px;
    margin: 2%;
}
.form-contact-image a:focus img, .form-contact-image a:hover img,.form-contact-image a:active img {
    background-color:rgb(170,204,255);
    text-decoration: none;
}
textarea{
    width: 400px;
    height: 150px;
    border: none;
    border-radius: 5px;
}
textarea:focus{
    border: 3px solid  rgb(26,169,217);
}
fieldset{
    box-sizing: border-box;
    margin-right: 10px;
    border-radius: 20px;
    width: 200px;
    height: 450px;
    border: 4px double black;
}
fieldset legend{
    text-align: center;
    color: rgb(26,169,217);
    font-weight: bolder;
    font-size: 120%;
}
label{
    font-style: normal;
    font-weight: bolder;
    font-size: 120%;
}
button{
        background: linear-gradient(to bottom, #e2e2e2 0%, #dbdbdb 50%,
        #d1d1d1 51%, #fefefe 100%);
        width: 100px;
        height: 40px;
        border-radius: 1em;
        margin-top: 10px;
        margin-left:120px;       
}
button:focus , button:hover{
    background: rgba(26,169,217,.1);
    color: rgb(23, 191, 166);
    font-weight: bold;
}
button:active{
    color: dodgerblue;
    background: rgba(26,169,217,.45);
}
input{
    width:400px;
    height: 25px;
    margin: 10px auto;
    background-color: #fafafa;
    border-radius: 5px;
    border: none;
    Color:green;
    font-size: 100%;

}
input:focus{
    border: 3px solid rgb(26,169,217);
}



/*END OF STYLES FOR FORM AND FOOTER RELATED STYLES*/
/* BASIC STYLES FOR THE HOME PAGE DESIGN */
.LinkMore{
    text-decoration: none;
    font-weight: bolder;
    color: rgb(26,169,217);
}
.LinkMore:visited{
    color: rgba(26,169,217,.3) ;
}
.LinkMore:focus , .LinkMore:active{
 color: rgba(26,169,217,.7) ;
}

.lang-border{
    border: 3px solid;
    border-color: rgb(26,169,217);
    border-radius: 30px;
    display: flex;
    padding: 20px;
    margin-bottom: 20px;
    margin: 20px;
}
.lang-border img {
    margin-right: 20px;
    width: 100px;
}
.codeclan{
    font-family:'Roboto Mono', monospace, serif;
}
 .image-center {
  margin: 3em 0;
 }
 img[src="IMG/codeclan.svg"]{
     margin: 1.5em 0;
 }
.intro-Home-para{
    font-family:'Roboto Mono', monospace, serif ;
    font-size: 140%;
    line-height: 1.6em;
    margin: 5% 5% 0 ; 
}
#intro-Home-span{
    color: rgb(26,169,217);
    display: block;
    text-align: center;
    margin: 5%;
    font-size: 200%;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 10%;
}
.cheater-span , .sidenav{
    display: none;
}
.span-center{
    display: block;
    text-align: center;
}
.span-descr{
    color: black !important;
    font-weight: bold;
    font-style: normal !important;
}
/* STYLES FOR SCREEN OF 696PX TO 991PX THIS IS MAINLY FOR TABLET PHONE 
 REARRANGEMENT IS BEEN DONE
 ALL STYLES HERE WOULD ONLY ON THAT SCREEN RANGE
*/


@media(min-width:696px) and (max-width:1200px){
    
    header{
        max-width: 100%;
        flex-wrap: nowrap;
    }
    header h1 {
       font-size: 100%;
    }
    header div >span{
        font-size: 90%;
    }
    #main-nav  a {
        font-size: 90%;
        margin: .25em;
    }
    #HTML-nav li {
        margin-left: -24px;
    }
    #HTML-nav li a{
        font-size: 80%;
    }
    #HTML-nav li a:focus, #HTML-nav li a:hover, #HTML-nav li a:active{
        font-size: 90%;
    }
    .grid-cont{
        display: grid;
        grid-template-columns: 25% 60% 15%;
        box-sizing: border-box;
    }
    .special-grid{
        grid-template-columns: 85% 15%;
    }
    .special-description{
        display: grid;
        grid-template-columns: .1fr;
        margin: 0;
    }
    .hosting h1{
        font-size: 150%;
    }
    p.codepen{
        font-size: 115%;
    }
    th,td,table{
        font-size: 72%;
    }
    .main-content{
        font-size:100%;
    }
    #logo-section .contact-image{
        width: 30px;
        height: 30px;
    }
    form{
        border: none;
        border-right: 2px solid black;
        margin: 0 auto;
    }
    .form-contact-image{
        margin: 1.5em;
    } 
    p.footer-final-note{
        font-size: 90%;
        margin-left: 10px;
    }
   #logo-section p{
        font-size: 90%;
    }
    textarea{
        width: 250px;
        height: 200px;
    }
    form{
        border: none;
        margin: 0;
    }
    fieldset{
        box-sizing: border-box;
        width: 100px;
        height: auto;
        margin: 1.5em;
    }
    input{
        width: 250px;
    }
    button{
        margin-left: 70px;
    }
    p.footer-final-note{
        font-size: 75%;
    }
    #specialFormgrid{
        display: grid;
        grid-template-columns: 20% 45% 35%;
    }
    fieldset legend{
        font-size: 90%;
    }
    .form-contact-image{
        display: inline;
        width: 20px; 
        height: 20px;
    }
}


/*END OF TABLET VERSION STYLES*/

/*STYLES FOR SMALLER DEVICES 
MAJORLY DEVICES LIKES PHONES..*/
@media(max-width:695px) {
    .smaller-header{
        margin-top: -20px;
        display: block !important;
        width: 100%; 
        height:auto !important;
    }
 .smaller-header div{
        text-align: center !important;
    }
    .smaller-header h1,.smaller-header div span{
        font-style: normal; 
    }
   .main-content h1{
      font-size: 150%;
    }
    h1#css-h1{
        font-size: 135%;
    }
    .grid-cont{
        display: grid;
        grid-template-columns: 100%;
        box-sizing: border-box;
    }
    .special-grid{
        grid-template-columns: 100%;
    }
    .main-content{
         text-align: unset;
         font-size: 100%;
         box-sizing: border-box;
        max-width: 100vh; 
         margin:0;
         margin-left: 1em;
         display: block;
         transition: margin-left .5s;
    }
    pre em{
        font: size 10%;
    }
    .special-description{
        display: grid;
        grid-template-columns: .1fr;
    }
    iframe{
     margin: 1em 0 0 0;
    }
    .form-grid{
        display: grid;
        grid-template-columns: 100% !important;
    }
    form{
        border: none;
        border-bottom: 2px solid black;
        margin: 0 auto;
        overflow: hidden;
    }
    .form-contact-image{
        margin-left: 1.5em;
    } 
    p.footer-final-note{
        font-size: 65%;
        margin-left: 10px;
    }
    textarea{
        width: 250px;
        height: 200px;
    }
    fieldset{
        box-sizing: border-box;
        width: 50%;
        height: 500px;
    }
    input{
        width: 250px;
    }
    button{
        margin-left: 70px;
    }
    th,td,table{
        font-size: 72%;
    }
    #logo-section{
        display: none;
    }
    .contact-image{
        width: 30px;
        height: 30px;
    }
    .footer-final-note{
        margin: 0 auto;
    }
    .lang-border{
        display: block;
        border-color: rgb(26,169,217);
    }
    .lang-border img {
        display: block;
        margin: 0 auto;
    }
    img[src="IMG/codeclan.svg"]{
        width: 100px;
        height: auto;
    }
    .codeclan{
        font-size: 90%;
        text-align: left;
        margin: 1%;
    }
    .intro-Home-para{
        font-size: 90%;
        font-weight: 500;
    }
    #intro-Home-span{
        font-size: 130%;
        
    }
    .about-me{
        font-size:95%;
        font-weight: 600;
    }
    img[src="IMG/MyImage.JPG"]{
        width: 100px;
        height: 100px;;
    }
    #main-nav #myLinks{
        display: none;
    }
  #main-nav a.icon{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    color:rgba(180, 204, 180, .9); 
   }
   #main-nav a.icon:hover {
       background-color: black;
   }
   #main-nav #myLinks{
       background-color:rgba(180, 204, 180, .9);
       background-color:rgba(180, 204, 180,.5);
   }
   #main-nav #myLinks li {
       display: block;
       padding: 0;
       margin-top: -10px;
   }
   #main-nav #myLinks a{
       width: 100%;
   }
  #HTML-nav{
      display: none;
  }
    a.icon{
    display: inline;
}
   .div-relative{
       position: relative;
   }
   .cheater-span , .sidenav{
    display: block;
}
   .cheater-span{
    font-size:20px;
    cursor:pointer;
    margin-top: 10px;
    position: fixed;
   }
   .sidenav {
    height: 100%;
    width: 0;
   position: fixed;
    z-index: 1;
    top:10%;
    left: 0;
    background-color:rgba(180, 204, 180, 1);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(9, 75, 230);
    display: block;
    transition: 0.3s;
    font-size: 100%;
  }
  .sidenav  a:visited{
    color: rgb(23, 92, 138);
  }
  .sidenav  a:focus ,.sidenav a:hover, .sidenav  a:active {
    color: #0732f2;
   font-size: larger;
  }
   .sidenav  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
.para-descr{
    font-size: 90%;
}
p.codepen{
    font-size: 90%;
    margin: 1em;
}
i.fa-plus{
    background-color: black;
    color: #fafafa;
}
.sticky {
    position: sticky;
    top: 0;
    width: 100%;
  }
  img[src="IMG/MyImage.JPG"]{
      display: none;
  }
  p.about-me{
      height:auto;
      font-size: 80%;
  }
}
/*END OF STYLES FOR PHONE SCREEN SIZES*/
